.vscode/
**/.DS_Store
.test/
.env
config.yaml
hack/config.yaml
public/config.yaml
public/qxadmin
public/qxadmin/*
runtimes
runtimes/*
storages
storages/*
main
main.exe
main.exe~
linux_amd64
linux_amd64/*

# Logs
logs
*.log
*/*.log
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*
*/lerna-debug.log*

*/node_modules
.DS_Store
*/dist
*/dist-ssr
*/coverage
*.local
*/.vscode

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
